- flash.each do |type, message|
  - binding.pry
  - box_style = type == :notice ? 'success' : 'alert' 
  - Rails.logger debug "flash type: #{type} to_s: #{type.to_s} class: #{type.class}" 
  .alert-box{:class => "#{box_style}", :tabindex => '0', 'aria-live' => 'assertive', :data => { :alert => true } }
    = message
    %button.close{:tabindex => '0', 'aria-label' => 'Close Alert', :href => '#'} &times;

.center-column-content
  = yield